body{
    background-color: black;
}
.mymeme{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif
}
.myimage{
    border: 5px solid white;
    width: 100%;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}